<!--
 * @Author         : yanyongyu
 * @Date           : 2022-09-30 11:02:04
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2022-09-30 11:02:04
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{% macro diff_file(file) %}
<div class="position-relative mb-3 border rounded-2 color-border-default"></div>
{% endmacro %}
