<!--
 * @Author         : yanyongyu
 * @Date           : 2022-09-30 11:02:04
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2022-10-04 03:44:19
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{% from "components/diff/header.html.jinja" import diff_header %}
{% from "components/diff/content.html.jinja" import diff_content %}

{#
file: PatchedFile
#}
{% macro diff_file(file) %}
<div class="position-relative mb-3 border rounded-2 color-border-default">
  {{ diff_header(file) }}
  {{ diff_content(file) }}
</div>
{% endmacro %}
