<!--
 * @Author         : yanyongyu
 * @Date           : 2022-09-17 15:44:52
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2024-05-14 20:43:01
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{% macro issue_action() %}
<div class="color-bg-default border-top color-border-default">
  {# TODO: action help #}
  <div style="height: 50px;"></div>
</div>
{% endmacro %}
