<!--
 * @Author         : yanyongyu
 * @Date           : 2022-09-16 11:32:34
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2024-05-16 16:05:58
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{% from "components/issue/title.html.jinja" import issue_title %}
{% from "components/issue/state.html.jinja" import issue_state %}

{#
number: int
title: str
state: str
state_reason: str
draft: bool
user: str
created_at: datetime
comments: int
#}
{% macro issue_header(number, title, state, state_reason, draft, user, created_at, comments) %}
<div class="color-bg-default mb-3">
  {{ issue_title(number, title) }}
  <div class="
      d-flex
      flex-items-center flex-wrap
      pb-2 mt-0 mb-3
      border-bottom color-border-default color-fg-muted
    ">
    {{ issue_state(state, state_reason, draft, "flex-shrink-0 mb-2 flex-self-start flex-md-self-center") }}
    <div class="flex-auto min-width-0 mb-2">
      <a
        href="#"
        class="author text-bold Link--secondary"
      >{{ user|escape }}</a>
      opened this issue {{ created_at|relative_time }}
      · {{ comments }} comments
    </div>
  </div>
</div>
{% endmacro %}
