<!--
 * @Author         : yanyongyu
 * @Date           : 2022-09-16 16:39:09
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2024-05-14 20:51:55
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{% from "icons/issue-opened.html.jinja" import octicon_issue_opened %}
{% from "icons/issue-closed.html.jinja" import octicon_issue_closed %}
{% from "icons/issue-draft.html.jinja" import octicon_issue_draft %}
{% from "icons/issue-not-planned.html.jinja" import octicon_issue_not_planned %}

{#
state: str
state_reason: str
draft: bool
class: str
#}
{% macro issue_state(state, state_reason, draft, class="") %}
<div class="{{ class }}">
  {% if draft %}
  {% set color = "draft" %}
  {% elif state_reason == "not_planned" %}
  {% set color = "draft" %}
  {% elif state == "closed" %}
  {% set color = "merged" %}
  {% else %}
  {% set color = "open" %}
  {% endif %}

  <span class="State State--{{ color }} mr-2">
    {% if draft %}
    {{ octicon_issue_draft() }} Draft
    {% elif state_reason == "not_planned" %}
    {{ octicon_issue_not_planned() }} Closed
    {% elif state == "closed" %}
    {{ octicon_issue_closed() }} Closed
    {% else %}
    {{ octicon_issue_opened() }} Open
    {% endif %}
  </span>
</div>
{% endmacro %}
