<!--
 * @Author         : yanyongyu
 * @Date           : 2022-09-16 16:36:19
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2022-09-16 16:37:33
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{% macro issue_title(issue) %}
<div>
  <div class="d-flex flex-column flex-md-row">
    <h1 class="text-normal mb-2 lh-condensed f1 mr-0 flex-auto wb-break-word">
      <span class="markdown-title">{{ issue.title|markdown_title }}</span>
      <span class="f1-light color-fg-muted">#{{ issue.number|escape }}</span>
    </h1>
  </div>
</div>
{% endmacro %}
