<!--
 * @Author         : yanyongyu
 * @Date           : 2022-09-23 13:23:50
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2024-08-18 17:36:23
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{% from "icons/person.html.jinja" import octicon_person %}

{#
actor: str
actor_avatar: str
created_at: datetime
assignee: str
assignee_avatar: str
#}
{% macro assigned(actor, actor_avatar, created_at, assignee, assignee_avatar) %}
<div class="TimelineItem">
  <div class="TimelineItem-badge">
    {{ octicon_person() }}
  </div>
  <div class="TimelineItem-body">
    <a class="d-inline-block">
      <img
        class="avatar avatar-user"
        height="20"
        width="20"
        src="{{ actor_avatar }}"
      />
    </a>
    <a class="author Link--primary text-bold">{{ actor|escape }}</a>
    {% if actor == assignee %}
    self-assigned this
    {% else %}
    assigned
    <a class="d-inline-block">
      <img
        class="avatar avatar-user"
        height="20"
        width="20"
        src="{{ assignee_avatar }}"
      />
    </a>
    <a class="author Link--primary text-bold">
      {{ assignee|escape }}
    </a>
    {% endif %}
    <a class="Link--secondary">{{ created_at|relative_time }}</a>
  </div>
</div>
{% endmacro %}
