<!--
 * @Author         : yanyongyu
 * @Date           : 2024-05-16 17:46:54
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2024-05-16 17:48:30
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{% from "icons/branch.html.jinja" import octicon_branch %}

{#
created_at: datetime
#}
{% macro automatic_base_change_succeeded(created_at) %}
<div class="TimelineItem">
  <div class="TimelineItem-badge color-fg-on-emphasis color-bg-open-emphasis">
    {{ octicon_branch() }}
  </div>
  <div class="TimelineItem-body">
    Base automatically changed
    <a class="Link--secondary">{{ created_at|relative_time }}</a>
  </div>
</div>
{% endmacro %}
