<!--
 * @Author         : yanyongyu
 * @Date           : 2022-09-23 14:11:18
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2024-05-15 01:09:38
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{% from "icons/repo-push.html.jinja" import octicon_repo_push %}

{#
actor: str
actor_avatar: str
create_at: datetime
base_ref: str
commit_id: str | None
#}
{% macro base_ref_force_pushed(actor, actor_avatar, create_at, base_ref, commit_id=false) %}
<div class="TimelineItem">
  <div class="TimelineItem-badge">
    {{ octicon_repo_push() }}
  </div>
  <div class="TimelineItem-body">
    <a>
      <img class="avatar avatar-user" height="20" width="20" src="{{ actor_avatar }}" />
    </a>
    <a class="author Link--primary text-bold">{{ actor|escape }}</a>
    force-pushed the
    <span class="branch-name css-truncate color-fg-muted">
      <a class="no-underline">
        {{ base_ref|escape }}
      </a>
    </span>
    branch
    {% if commit_id %}
    to
    <a class="Link--primary text-bold no-underline">
      <code>{{ commit_id[:7] }}</code>
    </a>
    {% endif %}
    <a class="Link--secondary">{{ event.created_at|relative_time }}</a>
  </div>
</div>
{% endmacro %}
