<!--
 * @Author         : yanyongyu
 * @Date           : 2022-09-22 05:21:01
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2024-05-25 12:44:04
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{% from "icons/pr-closed.html.jinja" import octicon_pr_closed %}
{% from "icons/issue-closed.html.jinja" import octicon_issue_closed %}
{% from "icons/issue-not-planned.html.jinja" import octicon_issue_not_planned %}

{#
actor: str
actor_avatar: str
created_at: datetime
state_reason: str | None
is_pull_request: bool
#}
{% macro closed(actor, actor_avatar, created_at, state_reason, is_pull_request) %}
<div class="TimelineItem">
  {% if state_reason == "not_planned" %}
  <div class="TimelineItem-badge">
    {{ octicon_issue_not_planned(16, "color-fg-inherit") }}
  </div>
  {% elif is_pull_request %}
  <div class="TimelineItem-badge color-fg-on-emphasis color-bg-closed-emphasis">
    {{ octicon_pr_closed(16, "color-fg-inherit") }}
  </div>
  {% else %}
  <div class="TimelineItem-badge color-fg-on-emphasis color-bg-done-emphasis">
    {{ octicon_issue_closed(16, "color-fg-inherit") }}
  </div>
  {% endif %}
  <div class="TimelineItem-body">
    <a>
      <img
        class="avatar avatar-user"
        height="20"
        width="20"
        src="{{ actor_avatar }}"
      />
    </a>
    <a class="author Link--primary text-bold">{{ actor|escape }}</a>
    closed this
    {% if not is_pull_request %}
    as
    {% if state_reason == "not_planned" %}
    <a
      href="#"
      class="Link--secondary"
    >not planned</a>
    {% else %}
    <a
      href="#"
      class="Link--secondary"
    >completed</a>
    {% endif %}
    {% endif %}
    <a class="Link--secondary">{{ created_at|relative_time }}</a>
  </div>
</div>
<div class="TimelineItem-break"></div>
{% endmacro %}
