<!--
 * @Author         : yanyongyu
 * @Date           : 2022-09-17 09:29:08
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2024-08-04 13:10:04
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{#
actor: str
actor_avatar: str
created_at: datetime
body_html: str | None
body: str | None
author_association: str
is_author: bool
reactions: dict[str, int]
is_first: bool
is_review: bool
highlight: bool
#}
{% macro commented(
actor, actor_avatar, created_at,
body_html, body, author_association, is_author, reactions,
is_first=false, is_review=false, highlight=false
) %}
<div class="TimelineItem{% if is_first %} pt-0{% endif %}">
  {# do not show avatar for review comment #}
  {% if not is_review %}
  <div class="avatar-parent-child TimelineItem-avatar d-none d-md-block">
    <a
      href="#"
      class="d-inline-block"
    >
      <img
        class="avatar circle"
        src="{{ actor_avatar }}"
        height="40"
        width="40"
      />
    </a>
  </div>
  {% endif %}
  <div class="TimelineItem-body my-0">
    <div class="
        timeline-comment  {# for css #}
        {% if is_review %}timeline-comment-nw{% endif %}  {# for review comment #}
        position-relative
        ml-n3
        color-fg-default color-bg-default
        border
        rounded-2
        {% if highlight %}
        timeline-comment-highlight  {# for css #}
        color-border-accent-emphasis
        {% else %}
        color-border-default
        {% endif %}
      ">
      <div class="
          d-flex
          flex-row-reverse flex-items-center
          px-3 py-2
          color-fg-muted color-bg-subtle
          border-bottom
          color-border-default
          rounded-top-2
        ">
        <div class="d-none d-sm-flex">
          {% if author_association != "NONE" %}
          <span class="Label Label--secondary ml-1">
            {{ author_association|title|escape }}
          </span>
          {% endif %}
          {% if is_author %}
          <span class="Label Label--secondary ml-1">Author</span>
          {% endif %}
        </div>
        <h3 class="flex-auto text-normal f5">
          <strong class="css-truncate">
            <a class="Link--primary css-truncate-target text-bold">
              {{ actor|escape }}
            </a>
          </strong>
          commented
          <a class="Link--secondary">
            {{ created_at|relative_time }}
          </a>
        </h3>
      </div>
      <div>
        <table class="d-block">
          <tbody class="d-block">
            <tr class="d-block">
              <td class="
                  d-block
                  p-3
                  width-full overflow-visible
                  f5 color-fg-default
                  markdown-body
                ">
                {% if body_html %}
                {{ body_html }}
                {% elif body %}
                {{ body|markdown_gfm }}
                {% else %}
                <p class="color-fg-muted">
                  <em>No description provided.</em>
                </p>
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        {% if reactions %}
        <div class="d-md-flex flex-row-reverse flex-justify-end ml-3 mb-3">
          <div class="d-flex flex-items-center flex-row flex-wrap">
            {% for emoji, count in reactions.items() %}
            {% if count %}
            <button class="
                comment-reaction-button  {# for css #}
                d-flex flex-items-baseline
                no-underline mr-2 px-1 f6
                color-fg-muted color-bg-transparent
                border color-border-default
                btn-link
              ">
              {{ emoji }}
              <span>{{ count }}</span>
            </button>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endmacro %}
