<!--
 * @Author         : yanyongyu
 * @Date           : 2022-09-26 06:20:30
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2024-05-16 16:02:56
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{% from "icons/pr-draft.html.jinja" import octicon_pr_draft %}

{#
actor: str
actor_avatar: str
created_at: datetime
#}
{% macro convert_to_draft(actor, actor_avatar, created_at) %}
<div class="TimelineItem">
  <div class="TimelineItem-badge">
    {{ octicon_pr_draft() }}
  </div>
  <div class="TimelineItem-body">
    <a class="d-inline-block">
      <img
        class="avatar avatar-user"
        height="20"
        width="20"
        src="{{ actor_avatar }}"
      />
    </a>
    <a class="author Link--primary text-bold">
      {{ actor|escape }}
    </a>
    marked this pull request as draft
    <a class="Link--secondary">{{ created_at|relative_time }}</a>
  </div>
</div>
{% endmacro %}
