<!--
 * @Author         : yanyongyu
 * @Date           : 2022-09-27 05:51:51
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2024-05-16 16:03:01
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{% from "icons/comment-discussion.html.jinja" import octicon_comment_discussion %}

{% macro converted_to_discussion(actor, actor_avatar, created_at) %}
<div class="TimelineItem">
  <div class="TimelineItem-badge color-fg-on-emphasis color-bg-done-emphasis">
    {{ octicon_comment_discussion() }}
  </div>
  <div class="TimelineItem-body">
    <a class="d-inline-block">
      <img
        class="avatar avatar-user"
        height="20"
        width="20"
        src="{{ actor_avatar }}"
      />
    </a>
    <a class="author Link--primary text-bold">
      {{ actor|escape }}
    </a>
    converted this issue into a discussion
    <a class="Link--secondary">{{ created_at|relative_time }}</a>
  </div>
</div>
{% endmacro %}
