<!--
 * @Author         : yanyongyu
 * @Date           : 2022-09-23 12:36:16
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2024-05-16 16:03:17
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{% from "icons/rocket.html.jinja" import octicon_rocket %}

{#
actor: str
actor_avatar: str
created_at: datetime
#}
{% macro deployed(actor, actor_avatar, created_at) %}
<div class="TimelineItem">
  <div class="TimelineItem-badge">
    {{ octicon_rocket() }}
  </div>
  <div class="TimelineItem-body">
    <a>
      <img
        class="avatar avatar-user"
        height="20"
        width="20"
        src="{{ actor_avatar }}"
      />
    </a>
    <a class="author Link--primary text-bold">{{ actor|escape }}</a>
    deployed this
    <a class="Link--secondary">{{ created_at|relative_time }}</a>
  </div>
</div>
{% endmacro %}
