<!--
 * @Author         : yanyongyu
 * @Date           : 2022-10-20 14:05:11
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2022-11-25 11:51:35
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{% from "icons/cross-reference.html.jinja" import octicon_cross_reference %}

{# mentioned event is triggered by @user. no display #}
{% macro mentioned(event, ns) %}
{% endmacro %}
