<!--
 * @Author         : yanyongyu
 * @Date           : 2022-09-26 06:16:39
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2024-05-16 16:04:08
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{% from "icons/cross-reference.html.jinja" import octicon_cross_reference %}

{#
actor: str
actor_avatar: str
created_at: datetime
is_pull_request: bool
commit_id: str | None
#}
{% macro referenced(actor, actor_avatar, created_at, is_pull_request, commit_id) %}
<div class="TimelineItem">
  <div class="TimelineItem-badge">
    {{ octicon_cross_reference() }}
  </div>
  <div class="TimelineItem-body">
    <div class="d-flex flex-auto">
      <div class="flex-auto pr-1 min-width-0">
        <a>
          <img
            class="avatar avatar-user"
            height="20"
            width="20"
            src="{{ actor_avatar }}"
          />
        </a>
        <a class="author Link--primary text-bold">
          {{ actor|escape }}
        </a>
        pushed a commit that referenced this
        {% if is_pull_request %}
        pull request
        {% else %}
        issue
        {% endif %}
        <a class="Link--secondary">{{ created_at|relative_time }}</a>
      </div>
      {% if commit_id %}
      <div class="text-right ml-1">
        <code>
          <a class="Link--secondary">{{ commit_id[:7] }}</a>
        </code>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endmacro %}
