<!--
 * @Author         : yanyongyu
 * @Date           : 2022-09-26 07:46:18
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2024-05-16 16:04:18
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{% from "icons/issue-reopened.html.jinja" import octicon_issue_reopened %}

{#
actor: str
actor_avatar: str
created_at: datetime
#}
{% macro reopened(actor, actor_avatar, created_at) %}
<div class="TimelineItem">
  <div class="TimelineItem-badge color-fg-on-emphasis color-bg-open-emphasis">
    {{ octicon_issue_reopened() }}
  </div>
  <div class="TimelineItem-body">
    <a class="d-inline-block">
      <img
        class="avatar avatar-user"
        height="20"
        width="20"
        src="{{ actor_avatar }}"
      />
    </a>
    <a class="author Link--primary text-bold">
      {{ actor|escape }}
    </a>
    reopened this
    <a class="Link--secondary">{{ created_at|relative_time }}</a>
  </div>
</div>
{% endmacro %}
