<!--
 * @Author         : yanyongyu
 * @Date           : 2022-09-26 15:47:32
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2024-05-16 16:04:30
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{% from "icons/eye.html.jinja" import octicon_eye %}

{#
actor: str
actor_avatar: str
created_at: datetime
requested_name: str | None
#}
{% macro review_request_removed(actor, actor_avatar, created_at, requested_name) %}
<div class="TimelineItem">
  <div class="TimelineItem-badge">
    {{ octicon_eye() }}
  </div>
  <div class="TimelineItem-body">
    <a class="d-inline-block">
      <img
        class="avatar avatar-user"
        height="20"
        width="20"
        src="{{ actor_avatar }}"
      />
    </a>
    <a class="author Link--primary text-bold">
      {{ actor|escape }}
    </a>
    removed the request for review
    {% if requested_name %}
    from
    <a class="author Link--primary text-bold">
      {{ requested_name|escape }}
    </a>
    {% endif %}
    <a class="Link--secondary">{{ created_at|relative_time }}</a>
  </div>
</div>
{% endmacro %}
