<!--
 * @Author         : yanyongyu
 * @Date           : 2022-09-27 05:50:30
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2022-09-27 05:50:31
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{% macro octicon_arrow_right(size=16, class="") %}
<svg class="octicon octicon-arrow-right {{ class }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="{{ size }}" height="{{ size }}"><path fill-rule="evenodd" d="M8.22 2.97a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06l2.97-2.97H3.75a.75.75 0 010-1.5h7.44L8.22 4.03a.75.75 0 010-1.06z"></path></svg>
{% endmacro %}
