<!--
 * @Author         : yanyongyu
 * @Date           : 2023-04-27 00:58:59
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2023-04-27 00:58:59
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{% macro octicon_dot_fill(size=16, class="") %}
<svg class="octicon octicon-dot-fill {{ class }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="{{ size }}" height="{{ size }}"><path d="M8 4a4 4 0 1 1 0 8 4 4 0 0 1 0-8Z"></path></svg>
{% endmacro %}
