<!--
 * @Author         : yanyongyu
 * @Date           : 2022-09-16 16:40:46
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2024-05-16 16:05:23
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{% from "components/issue/title.html.jinja" import issue_title %}
{% from "components/pr/state.html.jinja" import pr_state %}

{#
number: int
title: str
state: str
merged: bool
draft: bool
user: str
merged_by: str | None
commits: int
base_owner: str
base_label: str
base_ref: str
head_owner: str | None
head_label: str
head_ref: str
merged_at: datetime | None
created_at: datetime
#}
{% macro pr_header(
number, title, state, merged, draft, user, merged_by, commits,
base_owner, base_label, base_ref, head_owner, head_label, head_ref,
merged_at, created_at
) %}
<div class="color-bg-default mb-3">
  {{ issue_title(number, title) }}
  <div class="
      d-flex
      flex-items-center flex-wrap
      pb-2 mt-0 mb-3
      border-bottom color-border-default color-fg-muted
    ">
    {{ pr_state(state, merged, draft, "flex-shrink-0 mb-2 flex-self-start flex-md-self-center") }}
    <div class="flex-auto min-width-0 mb-2">
      <a
        href="#"
        class="author text-bold Link--secondary"
      >
        {% if merged %}
        {{ merged_by|escape }}
        {% else %}
        {{ user|escape }}
        {% endif %}
      </a>
      {% if merged %}
      merged
      {% else %}
      wants to merge
      {% endif %}
      {{ commits }} commits into
      <span class="branch-name css-truncate">
        <a class="no-underline">
          {% if base_owner == head_owner %}
          {{ base_ref|escape }}
          {% else %}
          {{ base_label|escape }}
          {% endif %}
        </a>
      </span>
      from
      <span class="branch-name css-truncate">
        <a class="no-underline">
          {% if base_owner == head_owner %}
          {{ head_ref|escape }}
          {% else %}
          {{ head_label|escape }}
          {% endif %}
        </a>
      </span>
      {% if merged %}
      {{ merged_at|relative_time }}
      {% else %}
      {{ created_at|relative_time }}
      {% endif %}
    </div>
  </div>
</div>
{% endmacro %}
