<!--
 * @Author         : yanyongyu
 * @Date           : 2024-05-31 11:23:27
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2024-06-10 12:27:32
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{% from "icons/clock.html.jinja" import octicon_clock %}
{% from "icons/trophy.html.jinja" import octicon_trophy %}
{% from "icons/commit.html.jinja" import octicon_commit %}
{% from "icons/issue-opened.html.jinja" import octicon_issue_opened %}
{% from "icons/pr.html.jinja" import octicon_pr %}
{% from "icons/code-review.html.jinja" import octicon_code_review %}

{% extends "main.html.jinja" %}
{% block main %}
<div
  class="position-relative mx-auto pt-3"
  style="width: fit-content;"
>
  <h2 class="f4 text-normal">
    <img
      class="avatar avatar-user"
      height="20"
      width="20"
      src="{{ ctx.user_avatar }}"
    />
    {{ ctx.username }} on GitHub
  </h2>
  <div class="py-2">
    <div class="d-flex flex-column text-center">
      <div style="width: fit-content;">
        <table class="ContributionCalendar-grid">
          <thead>
            <tr style="height: 13px;">
              <td style="width: 28px;"></td>
              {% for month in ctx.month_headers %}
              <td
                class="ContributionCalendar-label"
                colspan="{{ month[1] }}"
                style="position: relative;"
              >
                {# show month header when more than one week #}
                {% if month[1] > 1 %}
                <span style="position: absolute; top: 0;">{{ month[0] }}</span>
                {% endif %}
              </td>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for i in range(7) %}
            <tr style="height: 10px;">
              <td class="ContributionCalendar-label position-relative">
                {% if i == 1 %}
                <span style="clip-path: None; position: absolute; bottom: -3px">Mon</span>
                {% elif i == 3 %}
                <span style="clip-path: None; position: absolute; bottom: -3px">Wed</span>
                {% elif i == 5 %}
                <span style="clip-path: None; position: absolute; bottom: -3px">Fri</span>
                {% endif %}
              </td>
              {% for level in ctx.day_levels[i] %}
              {% if level is none %}
              <td></td>
              {% else %}
              <td
                class="ContributionCalendar-day"
                style="width: 10px"
                data-level="{{ level }}"
                tabindex="-1"
              ></td>
              {% endif %}
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="width-full f6 px-5 py-1">
        <div class="float-right d-flex flex-items-center color-fg-muted">
          <span class="mr-1">Less</span>
          <div
            class="ContributionCalendar-day rounded-1 mr-1"
            style="width: 10px; height: 10px;"
            data-level="0"
          ></div>
          <div
            class="ContributionCalendar-day rounded-1 mr-1"
            style="width: 10px; height: 10px;"
            data-level="1"
          ></div>
          <div
            class="ContributionCalendar-day rounded-1 mr-1"
            style="width: 10px; height: 10px;"
            data-level="2"
          ></div>
          <div
            class="ContributionCalendar-day rounded-1 mr-1"
            style="width: 10px; height: 10px;"
            data-level="3"
          ></div>
          <div
            class="ContributionCalendar-day rounded-1 mr-1"
            style="width: 10px; height: 10px;"
            data-level="4"
          ></div>
          <span>More</span>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top color-border-default py-2">
    <div class="d-flex flex-items-center">
      <div class="col-6">
        <p>
          {{ octicon_clock(class="mr-2") }} {{ ctx.from_date }} ~ {{ ctx.to_date }}
        </p>
        <p>
          {{ octicon_trophy(class="mr-2") }} Total contributions: {{ ctx.total_contributions }}
        </p>
        <p>
          {{ octicon_commit(class="mr-2") }} Total commits: {{ ctx.total_commit_contributions }}
        </p>
        <p>
          {{ octicon_issue_opened(class="mr-2") }} Total issues: {{ ctx.total_issue_contributions }}
        </p>
        <p>
          {{ octicon_pr(class="mr-2") }} Total PRs: {{ ctx.total_pull_request_contributions }}
        </p>
        <p>
          {{ octicon_code_review(class="mr-2") }} Total reviews: {{ ctx.total_pull_request_review_contributions }}
        </p>
      </div>
      <div class="col-6"></div>
    </div>
  </div>
</div>
{% endblock %}
