<!--
 * @Author         : yanyongyu
 * @Date           : 2022-09-30 10:05:36
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2024-05-30 14:21:07
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{% from "components/header.html.jinja" import header %}

{% from "components/pr/header.html.jinja" import pr_header %}
{% from "components/pr/action.html.jinja" import pr_action %}

{% from "components/diff/file.html.jinja" import diff_file %}

{% extends "main.html.jinja" %}
{% block main %}
{{ header(
ctx.repo.owner, ctx.repo.name, ctx.repo.private, ctx.repo.fork, ctx.repo.is_template,
ctx.repo.parent_full_name, ctx.repo.template_full_name, ctx.repo.forks_count, ctx.repo.stargazers_count
) }}
<div class="clearfix mt-4 px-3 px-md-4 px-lg-5">
  <div class="position-relative">
    <div class="mb-3">
      {{ pr_header(
      ctx.pr.number, ctx.pr.title, ctx.pr.state, ctx.pr.merged, ctx.pr.draft,
      ctx.pr.user, ctx.pr.merged_by, ctx.pr.commits,
      ctx.pr.base_owner, ctx.pr.base_label, ctx.pr.base_ref,
      ctx.pr.head_owner, ctx.pr.head_label, ctx.pr.head_ref,
      ctx.pr.merged_at, ctx.pr.created_at
      ) }}
      <div>
        {% for file in ctx.patch_set %}
        {{ diff_file(file) }}
        {% endfor %}
      </div>
      {{ pr_action() }}
    </div>
  </div>
</div>
{% endblock %}
