<!--
 * @Author         : yanyongyu
 * @Date           : 2023-04-26 18:22:24
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2023-04-26 18:34:49
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{% from "components/header.html.jinja" import header %}

{% from "components/issue/header.html.jinja" import issue_header %}
{% from "components/pr/header.html.jinja" import pr_header %}

{% from "components/issue/action.html.jinja" import issue_action %}
{% from "components/pr/action.html.jinja" import pr_action %}

{% from "components/timeline/commented.html.jinja" import commented %}
{% from "components/timeline/labeled.html.jinja" import labeled %}
{% from "components/timeline/hidden-item.html.jinja" import hidden_item %}

{% extends "main.html.jinja" %}
{% block main %}
{{ header(repo) }}
<div class="repository-content">
  <div class="container-xl px-3 px-md-4 px-lg-5 mt-4">
    <div>
      {% if issue.pull_request %}
      {{ pr_header(issue) }}
      {% else %}
      {{ issue_header(issue) }}
      {% endif %}
      <div id="discussion_bucket">
        <div>
          <div class="ml-0 pl-0 ml-md-6 pl-md-3">
            {{ commented(issue, is_first=true) }}
            <div>
              {% if issue.labels %}
              {% for label in issue.labels %}
              {% set event = {"actor": issue.user, "label": label, "created_at": issue.created_at} %}
              {{ labeled(event) }}
              {% endfor %}
              {% endif %}
              {{ hidden_item() }}
              {{ commented(comment) }}
            </div>
          </div>
          {% if issue.pull_request %}
          {{ pr_action(issue) }}
          {% else %}
          {{ issue_action(issue) }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
