<!--
 * @Author         : yanyongyu
 * @Date           : 2022-09-15 04:08:55
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2022-09-15 04:08:55
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{% from "components/header.html.jinja" import header %}

{% extends "main.html.jinja" %}
{% block main %}
{{ header(get_issue_repo(issue)) }}
{% endblock %}
