<!--
 * @Author         : yanyongyu
 * @Date           : 2023-12-01 15:20:09
 * @LastEditors    : yanyongyu
 * @LastEditTime   : 2024-05-15 00:20:49
 * @Description    : None
 * @GitHub         : https://github.com/yanyongyu
-->

{% from "components/header.html.jinja" import header %}
{% from "components/readme.html.jinja" import readme %}

{% extends "main.html.jinja" %}
{% block main %}
{{ header(
ctx.repo.owner, ctx.repo.name, ctx.repo.private, ctx.repo.fork, ctx.repo.is_template,
ctx.repo.parent_full_name, ctx.repo.template_full_name, ctx.repo.forks_count, ctx.repo.stargazers_count
) }}
<div class="repository-content">
  <div class="container-xl px-3 px-md-4 px-lg-5 mt-4">
    <div>
      {{ readme(ctx.content) }}
    </div>
  </div>
</div>
{% endblock %}
