name: Release Status Plugin

on:
  workflow_dispatch:

jobs:
  release-status:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install poetry
        run: pipx install poetry

      - name: Build and Publish Package
        run: |
          cd src/plugins/nonebot_plugin_status
          poetry build
          poetry publish -u ${{ secrets.STATUS_PYPI_USERNAME }} -p ${{ secrets.STATUS_PYPI_PASSWORD }}
